<ng-container *ngIf="!credentialsService.isLoading">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="login-main">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="login-right">
      <div class="login-right--header">
        <h2 class="header">Customer Login</h2>
        <div class="blueDivider"></div>
      </div>
      <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="doLogin()">
        <nz-form-item>
          <nz-form-control nzErrorTip="{{emailError}}">
            <nz-input-group nzPrefixIcon="user">
              <input type="email" nz-input formControlName="userName" placeholder="Username"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="{{passwordError}}">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [disabled]="loginForm.invalid" [nzType]="'primary'">Log in
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="credentialsService.isLoading">
  <div class="loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-container>
