<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="250px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <div>
        <img src="../../../favicon.ico" alt="logo">
        <h1>Shopping cart</h1>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="order-list" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="area-chart"></i>
        <span>Order List</span>
      </li>
      <li nz-menu-item routerLink="product-list" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="unordered-list"></i>
        <span>Product List</span>
      </li>
      <li nz-menu-item routerLink="product" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="plus"></i>
        <span>Add Product</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div>
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        </div>
        <div>Welcome admin</div>
        <div>
          <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
            {{username}}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="showResetPasswordModal()">Reset Password</li>
              <li nz-menu-item (click)="showLogoutConfirmation()">Logout</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal
  [(nzVisible)]="resetPasswordModelVisible"
  [nzTitle]="resetPasswordTitle"
  [nzContent]="resetPasswordContent"
  [nzFooter]="resetPasswordFooter"
  (nzOnCancel)="resetPasswordCancel()"
>
  <ng-template #resetPasswordTitle>
    Reset Password
  </ng-template>

  <ng-template #resetPasswordContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="{{resetOldPassword}}">
          <input nz-input type="password" formControlName="oldPassword" placeholder="Old password"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="{{resetNewPassword}}">
          <input nz-input type="password" formControlName="newPassword" placeholder="New password"
                 (ngModelChange)="validateConfirmPassword()"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirm your new password"/>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{newPasswordConfirm}}
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              {{inconsistentPassword}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #resetPasswordFooter>
    <button nz-button nzType="default" (click)="resetPasswordCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="resetPasswordOk();submitForm(validateForm.value)"
            [disabled]="!validateForm.valid" [nzLoading]="isConfirmLoading">Reset Password
    </button>
  </ng-template>
</nz-modal>
